body{
    margin: auto;
}
header{
    height: 60px;
    /* border: 2px solid black; */
    /* background-color: crimson; */
    background-image: url('adrien-olichon-ilVYjf0J378-unsplash.jpg');
    background-size: 150px 200px;
    text-align: center;
    color: beige;
    font-size:large;
    font-style: normal;
    

}
#photo{
    height: 200px;
    width: 150px;
    /* border: 2px solid black; */
    float: left;
    /* background-image: url('/MY\ PHOTO.jpeg');
    background-size: 150px 200px; */

}
#About{
    height : 200px;
    /* border: 2px solid black; */
    /* background-color: black; */
    background-image: url('adrien-olichon-ilVYjf0J378-unsplash.jpg');
    background-size: 150px 200px;
    
    color: beige;
    font-style: oblique;
    font-size:larger

}
#TITLE{
    color: cadetblue;
    font-size: larger;
    

    /* text-align: center; */
    /* background-color: rgb(202, 11, 11); */
}
#HEADING
{
    margin-top: 4%;
    /* margin-left: 5%;
    margin-right: 50%; */
    color: cadetblue;
    font-size: larger;

    
}
#skills{
    height : 130px;
    /* border: 2px solid black; */
    /* background-color: crimson; */
    background-image: url('adrien-olichon-ilVYjf0J378-unsplash.jpg');
    background-size: 150px 200px;




}
a{
    text-decoration: none;
}
#iconsOfSkill{
    float: right;
}
.slogo{
    height: 50px ;
    width: 50px ;
}
#map{
    height : 400px;
    /* border: 2px solid black; */
    background-image: url('adrien-olichon-ilVYjf0J378-unsplash.jpg');
    background-size: 150px 200px;

}
footer{
height: 80px;
border: 2px solid black; 

}